
<!-- Section: Social media -->
<section class="d-flex justify-content-between p-4" style="background-color: rgba(0, 0, 0, 0.2)">
    <!-- Left -->
    <div class="me-5">
    <span>Stay connected on our social networks :</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
    <a href="#" class=" me-4 text-decoration-none">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class=" me-4 text-decoration-none">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="" class=" me-4 text-decoration-none">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="" class=" me-4 text-decoration-none">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class=" me-4 text-decoration-none">
        <i class="fab fa-github"></i>
    </a>
    </div>
    <!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
    <div class="container text-center text-md-start ">
    <!-- Grid row -->
    <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase fw-bold">Kittenshop</h6>
        <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            />
        <p>
            KittenShop is an interactive platform that allows you to buy kitten images</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold">Products</h6>
        <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            />
        <p>
            <a href="#!" class="text-decoration-none">MDBootstrap</a>
        </p>
        <p>
            <a href="#!" class="text-decoration-none">MDWordPress</a>
        </p>
        <p>
            <a href="#!" class="text-decoration-none">BrandFlow</a>
        </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold">Useful links</h6>
        <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            />
        <p>
            <a href="#!" class="text-decoration-none">Your Account</a>
        </p>
        <p>
            <a href="#!" class="text-decoration-none">Become an Affiliate</a>
        </p>
        <p>
            <a href="#!" class="text-decoration-none">Shipping Rates</a>
        </p>
        <p>
            <a href="#!" class="text-decoration-none">Help</a>
        </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold">Contact</h6>
        <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            />
        <p><i class="fas fa-home mr-3"></i> Boulogne-Billancourt, 92100, FR</p>
        <p><i class="fas fa-envelope mr-3"></i> kittenshop@gmail.com</p>
        <p><i class="fas fa-phone mr-3"></i> + 06 01 02 03 04</p>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    </div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
    class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
    >
    © 2023 Copyright : 
    <a class="text-decoration-none" href="https://mdbootstrap.com/"
    > KittenShop.com</a
    >
</div>
<!-- Copyright -->
